<%= form_for(@subordinate) do |f| %>
  <% if @subordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subordinate.errors.count, "error") %> prohibited this subordinate from being saved:</h2>

      <ul>
      <% @subordinate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :work_for %><br />
    <%= f.text_field :work_for %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
